.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--dark);
    margin: 0;
    width: 100%;
    height: 60px;
    padding: 0.5rem;
}

.navbar-item.nav-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: left;
    color: var(--offWhite);
    justify-content: center;
}

.navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: larger;
    letter-spacing: 1px;
    
}

.navbar-logout {
    margin-left: auto;
}

.navbar-link:hover {
    color: white;
}

